<!DOCTYPE html>
<html ng-app="hailstone" ng-controller="Global">
    <head>
        <title ng-bind-template="{{pageTitle ? pageTitle + ' - ' : ''}}Hailstone">Hailstone</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
        <meta name="google" content="notranslate"/>

        <!--Favicon setting-->
        <link rel="apple-touch-icon" sizes="57x57" href="/public/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/public/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/public/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/public/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/public/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/public/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/public/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/public/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/public/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/public/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/public/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/public/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/public/favicons/manifest.json">
        <link rel="mask-icon" href="/public/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/public/favicons/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/public/libraries/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/public/libraries/bootstrap/css/bootstrap-theme.css"/>
        <link rel="stylesheet" type="text/css" href="/public/libraries/glyphicons/glyphicons.regular.css"/>
        <link rel="stylesheet" type="text/css" href="/public/libraries/glyphicons/glyphicons.social.css"/>
        <link ref="stylesheet" type="text/css" href="/public/libraries/ui-bootstrap-custom-build/ui-bootstrap-custom-1.1.1-csp.css"/>        <link rel='stylesheet' type="text/css" href='/public/stylesheets/base.css' />
        <link ref="stylesheet" type="text/css" href="/public/bower_components/font-awesome/css/font-awesome.css"/>

        <!-- External library-->
        <script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/public/bower_components/underscore/underscore-min.js"></script>
        <script src="/public/bower_components/sprintf/dist/sprintf.min.js"></script>
        <script src="/public/bower_components/moment/min/moment.min.js"></script>
        <script src="/public/bower_components/moment-duration-format/lib/moment-duration-format.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <!-- mstsc.js modules -->
        <script src="/public/libraries/mstsc-client/js/mstsc.js"></script>
        <script src="/public/libraries/mstsc-client/js/canvas.js"></script>
        <script src="/public/libraries/mstsc-client/js/client.js"></script>
        <script src="/public/libraries/mstsc-client/js/keyboard.js"></script>
        <script src="/public/libraries/mstsc-client/js/rle.js"></script>

        <!-- Angular modules-->
        <script src="/public/bower_components/angular/angular.js"></script>
        <script src="/public/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/public/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/public/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/public/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>

        <!--Angular ui bootstrap-->
        <script src="/public/libraries/ui-bootstrap-custom-build/ui-bootstrap-custom-1.1.1.min.js"></script>
        <script src="/public/libraries/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-1.1.1.min.js"></script>

        <!-- App javascript-->
        <script src="/public/javascripts/app.js"></script>
        <script src="/public/javascripts/controllers.js"></script>
        <script src="/public/javascripts/constants.js"></script>

        <base href="/">
    </head>
    <body id="{{bodyId}}" class="{{bodyClass.join(' ')}}">
        <div class="frame" ui-view/>
    </body>
</html>

